.card{
    width: 250px;
    display: inline-block;
    align-items: center;
    padding: 30px 10px;
    margin: 5px 5px;
    flex-direction: column;
    background: #cde4ff;
    border: 5px solid skyblue;
    border-radius: 10px;
    height: 400px;
}

.card-header {
    margin-bottom: 20px;
}

.firstName, .lastName {
    font-size: 20px;
}

.card img{
    height: 80px;
    width: 60%; 
}

h1 {
    font-size: 20%;
}

p {
    margin-bottom: 0px;
    font-size: 10px;
}
.card-body {
    width: 100%;
}